<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>97663596210-1oul5f8mj18h6mqsl3um9ssn1u4djko6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.97663596210-1oul5f8mj18h6mqsl3um9ssn1u4djko6</string>
	<key>API_KEY</key>
	<string>AIzaSyDRNDm4x9Y6bEMVutF0PIVSceOZ-8ZlMbU</string>
	<key>GCM_SENDER_ID</key>
	<string>97663596210</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Sunlight.library.app.KOZUKAITYOU</string>
	<key>PROJECT_ID</key>
	<string>kodukaityou</string>
	<key>STORAGE_BUCKET</key>
	<string>kodukaityou.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:97663596210:ios:f634ceb9d31bec8bcb3bab</string>
	<key>DATABASE_URL</key>
	<string>https://kodukaityou.firebaseio.com</string>
</dict>
</plist>